In [1]:
import pandas as pd
import seaborn as srn
import statistics as sts

In [2]:
''' data domain
Aparencia: sol, nublado, chuva
Temperatura: -130 ~ 130F
Umidade: 0 ~ 100
Jogar: sim/nao
'''

' data domain\nAparencia: sol, nublado, chuva\nTemperatura: -130 ~ 130F\nUmidade: 0 ~ 100\nJogar: sim/nao\n'

In [3]:
#importing data
dataset = pd.read_csv("datasets/time.csv", sep=",")
#visualizing
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [4]:
#shape
dataset.shape

(14, 5)

In [5]:
#exploring categorical data
#aparencia
group = dataset.groupby(['Aparencia']).size()
group

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [6]:
#jogar
group = dataset.groupby('Jogar').size()
group

Jogar
nao    5
sim    9
dtype: int64

In [7]:
# exploring numerical data
# temperatura
dataset['Temperatura'].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [8]:
#umidade
dataset['Umidade'].describe()

count     13.000000
mean      89.769231
std       34.540203
min       65.000000
25%       70.000000
50%       85.000000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [9]:
#NAN values
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [10]:
#umidade and vento
#umidade -> replace NAN with median
median = sts.median(dataset['Umidade'])
dataset['Umidade'].fillna(median, inplace=True)
#checking
dataset['Umidade'].isnull().sum()

0

In [11]:
#vento -> replace NAN with mode
group = dataset.groupby(['Vento']).size()
group

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [12]:
#replacing
dataset['Vento'].fillna('FALSO', inplace=True)
#checking
dataset['Vento'].isnull().sum()

0

In [13]:
#aparencia out of domain 
group = dataset.groupby(['Aparencia']).size()
group

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [14]:
#replacing with mode
dataset.loc[dataset['Aparencia'] == 'menos', 'Aparencia'] = 'sol'
#checking
group = dataset.groupby(['Aparencia']).size()
group

Aparencia
chuva      5
nublado    3
sol        6
dtype: int64

In [15]:
#Temperatura out of domain
dataset['Temperatura'].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [16]:
#visualizing
dataset.loc[(dataset['Temperatura'] < -130) | (dataset['Temperatura'] > 130) ]

  Aparencia  Temperatura  Umidade  Vento Jogar
7       sol         1220     95.0  FALSO   nao

In [17]:
#replacing with median
median = sts.median(dataset['Temperatura'])
dataset.loc[(dataset['Temperatura'] < -130) | (dataset['Temperatura'] > 130) ] = median
#checking
dataset.loc[(dataset['Temperatura'] < -130) | (dataset['Temperatura'] > 130) ]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [18]:
#Umidade out of domain
dataset['Umidade'].describe()

count     14.000000
mean      87.928571
std       33.425495
min       65.000000
25%       70.875000
50%       82.500000
75%       89.000000
max      200.000000
Name: Umidade, dtype: float64

In [19]:
#visualizing
dataset.loc[(dataset['Umidade'] < 0) | (dataset['Umidade'] > 100) ]

  Aparencia  Temperatura  Umidade  Vento Jogar
9     chuva         75.0    200.0  FALSO   sim

In [20]:
#replacing with median
median = sts.median(dataset['Umidade'])
dataset.loc[(dataset['Umidade'] < 0) | (dataset['Umidade'] > 100) ] = median
#checking
dataset.loc[(dataset['Umidade'] < 0) | (dataset['Umidade'] > 100) ]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [21]:
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol         85.0     85.0       FALSO   nao
1       sol         80.0     90.0  VERDADEIRO   nao
2   nublado         83.0     86.0       FALSO   sim
3     chuva         70.0     85.5       FALSO   sim
4     chuva         68.0     80.0       FALSO   sim

In [22]:
dataset.shape

(14, 5)